<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wak.tx_order.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.wak.entities.order.Order">
    <!--@mbg.generated generated on Fri Nov 17 10:18:04 CST 2023.-->
    <!--@Table tx_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="total_money" jdbcType="DECIMAL" property="totalMoney" />
    <result column="coupon_receive_id" jdbcType="INTEGER" property="couponReceiveId" />
    <result column="district_money" jdbcType="DECIMAL" property="districtMoney" />
    <result column="payment_money" jdbcType="DECIMAL" property="paymentMoney" />
    <result column="decrease_score" jdbcType="INTEGER" property="decreaseScore" />
    <result column="largess_score" jdbcType="INTEGER" property="largessScore" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Fri Nov 17 10:18:04 CST 2023.-->
    id, user_id, product_id, product_count, order_no, `status`, total_money, coupon_receive_id, 
    district_money, payment_money, decrease_score, largess_score, deleted, create_time, 
    update_time
  </sql>

<!--auto generated by MybatisCodeHelper on 2023-11-21-->
  <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tx_order
    </select>

<!--auto generated by MybatisCodeHelper on 2023-11-21-->
  <select id="findOneByOrderNo" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from tx_order
    where order_no=#{orderNo,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2023-11-21-->
  <update id="updateStatusByOrderNo">
    update tx_order
    set `status`=#{status,jdbcType=TINYINT}
    where order_no=#{orderNo,jdbcType=VARCHAR}
  </update>
</mapper>